apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: catalyst-order-workflow-demo
  labels:
    app: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: public.ecr.aws/e9f1v8j5/catalyst-demo/inventory-service:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          command: ["dotnet", "Diagrid.Labs.Catalyst.OrderWorkflow.InventoryService.dll"]
          env:
            - name: DAPR_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: catalyst-app-tokens
                  key: inventory-service
            - name: DAPR_APP_CALLBACK_URL
              value: "http://demo-production-catalyst.westeurope.cloudapp.azure.com:8082"
          envFrom:
            - configMapRef:
                name: catalyst-env
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  labels:
    app: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
