apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: catalyst-order-workflow-demo
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: public.ecr.aws/d3f9w4q8/catalyst-demo/notification-service:1.0
          imagePullPolicy: IfNotPresent
          command: ["dotnet", "NotificationService.dll"]
          ports:
            - containerPort: 8080
          env:
            - name: DAPR_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: catalyst-app-tokens
                  key: notification-service
            - name: DAPR_APP_CALLBACK_URL
              value: "http://demo-production-catalyst.westeurope.cloudapp.azure.com:8083"
          envFrom:
            - configMapRef:
                name: catalyst-env
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  selector:
    app: notification-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
